{% extends 'layouts/base.html.twig' %}

{% block body %}



<section class="bg-white h-screen">
    <div class="mx-auto flex lg:justify-center h-full flex-col lg:flex-row">
        <img src="https://images.unsplash.com/photo-1517964603305-11c0f6f66012?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80">
            
            
            
    </img>
        <form method="post" action="{{ path('security_login')}}" id="login" class="w-full lg:w-1/2 flex justify-center bg-white dark:bg-gray-900">
            <div class="w-full sm:w-4/6 md:w-3/6 lg:w-2/3 text-gray-800 dark:text-gray-100 flex flex-col justify-center px-2 sm:px-0 py-16">
                <div class="px-2 sm:px-6">
                    <h3 class="text-2xl sm:text-3xl md:text-2xl font-bold leading-tight">Se connecter à mon compte</h3>
                </div>
                <div class="mt-8 w-full px-2 sm:px-6">
                    <div class="flex flex-col mt-8">
                        <label for="email" class="text-lg font-semibold leading-tight">Nom de compte</label>
                        <input  placeholder="Adresse email" id="email" autocomplete="off" required aria-required="true" name="_username" class="h-10 px-2 w-full rounded mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 border-gray-300 border shadow" type="text" />
                    </div>
                    <div class="flex flex-col mt-5">
                        <label for="password" class="text-lg font-semibold fleading-tight">Mot de passe </label>
                        <input placeholder="Mot de passe" id="password" required aria-required="true" name="_password" type="password" class="h-10 px-2 w-full rounded mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 border-gray-300 border shadow" />
                    </div>
                </div>
                
                <div class="px-2 sm:px-6">
                    <button type="submit" class="bg-blue-500 text-gray-200  py-2 px-3 rounded  hover:bg-gray-800 hover:text-gray-100 mr-8 rounded-full px-6 mt-6">Connexion</button>
                    <p class="mt-6 text-xs">Pas de compte ?<a class="focus:underline focus:outline-none focus:text-blue-500 hover:text-blue-400 text-blue-500" href="{{ path('security_registration')}}">Créer un compte</a><br><a class="focus:underline focus:outline-none focus:text-indigo-800 hover:text-blue-400 text-blue-500" href="{{ path('home')}}">Retour à l'accueil</a></p>
                </div>
            </div>
        </form>
    </div>
</section>



{% endblock %}