{% extends 'layouts/base.html.twig' %}

{% block body %}

{{ include('_navbar.html.twig')}}



  <div class="card-login" style="width: 35rem;">
    <div class="card-body">
        <h3 class="titre-login">Se connecter à mon compte</h3>
        <div class="">
            <label for="email" class="">Nom de compte</label>
            <input  placeholder="Adresse email" id="email" autocomplete="off" required aria-required="true" name="_username" class="" type="text" />
        </div>
        <div class="">
            <label for="password" class="">Mot de passe </label>
            <input placeholder="Mot de passe" id="password" required aria-required="true" name="_password" type="password" class="" />
        </div>
        <div class="">
            <button type="submit" class="btn-login">Connexion</button>
            <p class="mt-6 text-xs">Pas de compte ?<a class="" href="{{ path('security_registration')}}">Créer un compte</a><br><a class="" href="{{ path('home')}}">Retour à l'accueil</a></p>
        </div>
    </div>
  </div>    



{{ include('footer.html.twig')}}


{% endblock %}