
<div class="w-full mt-8">
    <form action="#">
        <div class="flex items-center justify-center">
            <h2 class="text-2xl font-bold tracking-wide text-white animate-bounce">
                Trouvez votre salle !
            </h2> 
        </div>
        <div class="p-8 flex-auto">
            <div class="bg-white flex items-center rounded-full shadow-2xl border-2 border-blue-500 animate-fade-in-down">
                {{ form(form)}}
                </div>
                </form></div>
        </div>
                      
</div>
                  
            