*{
    font-family: Poppins;
}

a {
    color: #A2A2E0;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

body {
    background-color: white;
}


div#search_gym {
    display: flex;
    justify-content: center;
}
input#search_gym_search {
    height: 60px;
    border-radius: 45px;
    box-shadow: 5px 4px 16px 0px #5d5d5d;
    border-color: #A2A2E0;
    border-width: revert;
    margin-bottom: 30px;
}

label.required {
    display: none!important;
}

input#search_gym_search {
    padding: 25px;
    width: 850px;
}

a.nav-link-home {
    background-color: #A2A2E0;
    margin: 10px;
    padding: 7px;
    border-radius: 20px;
    color: white!important;
}

.navbar-light .navbar-brand {
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-shadow: 2px 1px 11px black;
}

a.nav-link-home:hover {
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    color: #A2A2E0!important;
}

nav.bg-transparent.sticky-top.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-top: -90px;
}



nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: 90px;
}

table.table.home-table {
    box-shadow: 7px 5px 16px 4px #c3c3c3;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    margin-bottom: 100px;
}

.text-white {
    color: #fff!important;
    text-align: center;
    font-size: 30px;
}

img.card-img.banner {
    height: 40rem;
    background-image: url(https://images.unsplash.com/photo-1526401485004-46910ecc8e51?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
}

.card.mb-2.card-shadow{
    border-radius: 6px;
    box-shadow: 2px 4px 8px #d7d7d7;
}



.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 11.25rem;
}

p.card-text-header {
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 4px 3px 8px #888888;
}

thead.thead-color {
    background-color: #A2A2E0;
    color: white;
}

button#search_gym_Go {
    background-color: #A2A2E0;
    color: white;
    /* box-shadow: 4px 3px 18px #6b6b6b; */
    border: none;
    border-radius: 30px;
}

button#search_gym_Go:hover {
    background-color: white;
    color: #A2A2E0;
}

img.icon-bar {
    height: 50px;
}

/*  
* NAVABAR2
*/
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    /* margin: 30px; */
    padding: 25px;
    /* border-radius: 10px; */
    box-shadow: 1px 3px 9px #9c9c9c;
}

li.nav2-item {
    margin: 10px;
}

li.nav2-item:hover {
    list-style: none;
    color: white;
}


/*  
* HEADER
*/

h1.titre-table {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
    margin-top: 70px;
    font-family: 'Poppins';
}

.btn-card-1 {
    background-color: white;
    color: #A2A2E0;
    border-radius: 20px;
    font-weight: 500;
    border-color: #A2A2E0;
}

.btn-card-1:hover {
    background-color: #A2A2E0;
    color: white;
    border-radius: 20px;
    border-color: #A2A2E0;
}

h6{
    font-family: 'Poppins';
    font-weight: bold;
}

/*  
* PAGINATION
*/

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: #60a5fa;
    padding: 8px 16px;
    text-decoration: none;
  }


/*  
* CARD
*/

.card-gym{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #A2A2E0;
    box-shadow: 3px 4px 10px 3px #c5c5c5;
    width: 90rem;
    margin-left: auto;
    margin-right: auto;
}
.card-gym:hover {
    width: 91rem;
}


.card-body-1{
    background-image: url(https://images.unsplash.com/photo-1517963628607-235ccdd5476c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80);
    background-size: cover;
    height: 25rem;
    padding-top: 20%;
}

.card-body-1:hover{
    transition: 1s;
    background-size: 105%;
    background-position: center;
}


.card-body-2{
    padding-top: 20%;
    transition-delay: 3s;

}

.card-body-3{
    background-image: url(https://images.unsplash.com/photo-1556817781-77671f3fe3c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    height: 25rem;
    padding-top: 20%;
}

.card-body-3:hover{
    transition: 1s;
    background-size: 105%;
    background-position: center;
}

.btn-card {
    background-color: #A2A2E0;
    border-radius: 20px;
    font-weight: 500;
    border-color: #A2A2E0;
}

.btn-card:hover {
    background-color: white;
    border-radius: 20px;
    color: #A2A2E0;
    border-color: #A2A2E0;
}

.card-title-1 {
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 6px black;
    font-size: 30px;
}

.card-title-2 {
    font-weight: 700;
    color: black;
    font-size: 30px;
}

p.card-text-1 {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

/*
* PAGE LOGIN
*/

.account-block {
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1517964603305-11c0f6f66012?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #A2A2E0 !important;
}

.btn-theme {
    background-color: #A2A2E0;
    border-color: #A2A2E0;
    color: #fff;
}

.card-login {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: 130px;
    border-radius: 10px;
    box-shadow: 6px 6px 13px 0px darkgrey;
}

.card-body.p-0 {
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 7px 6px 8px 2px #b3b3b3;
}



/*
* FORUM INDEX
*/

a.room-btn {
    background-color: #A2A2E0;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-left: 75%;
}

a.room-btn:hover {
    background-color: white;
    color: #A2A2E0;
    border: 1px solid #A2A2E0;
    padding: 8px;
    border-radius: 5px;
    margin-left: 75%;
}

.inner-wrapper {
    position: relative;
    height: calc(100vh - 3.5rem);
    transition: transform 0.3s;
}
@media (min-width: 992px) {
    .sticky-navbar .inner-wrapper {
        height: calc(100vh - 3.5rem - 48px);
    }
}

.inner-main,
.inner-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.inner-sidebar {
    left: 0;
    width: 235px;
    border-right: 1px solid #cbd5e0;
    background-color: #fff;
    z-index: 1;
}
.inner-main {
    right: 0;
    left: 235px;
}
.inner-main-footer,
.inner-main-header,
.inner-sidebar-footer,
.inner-sidebar-header {
    height: 3.5rem;
    border-bottom: 1px solid #cbd5e0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex-shrink: 0;
}
.inner-main-body,
.inner-sidebar-body {
    padding: 1rem;
    overflow-y: auto;
    position: relative;
    flex: 1 1 auto;
}
.inner-main-body .sticky-top,
.inner-sidebar-body .sticky-top {
    z-index: 999;
}
.inner-main-footer,
.inner-main-header {
    background-color: #fff;
}
.inner-main-footer,
.inner-sidebar-footer {
    border-top: 1px solid #cbd5e0;
    border-bottom: 0;
    height: auto;
    min-height: 3.5rem;
}
@media (max-width: 767.98px) {
    .inner-sidebar {
        left: -235px;
    }
    .inner-main {
        left: 0;
    }
    .inner-expand .main-body {
        overflow: hidden;
    }
    .inner-expand .inner-wrapper {
        transform: translate3d(235px, 0, 0);
    }
}

/*
* FOOTER
*/

@media (max-width: 767px) {
    .deneb_footer .widget_wrapper .widget {
        margin-bottom: 40px;
    }
}
.deneb_footer .widget_wrapper .widget .widget_title {
    margin-bottom: 30px;
}
.deneb_footer .widget_wrapper .widget .widget_title h4 {
    font-weight: bold;
}
.deneb_footer .widget_wrapper .widget .widget_title h4:after {
    content: "";
    display: block;
    max-width: 38px;
    height: 2px;
    margin-top: 5px;
}
.deneb_footer .widget_wrapper .widegt_about p {
    margin-bottom: 20px;
}

.deneb_footer .widget_wrapper .widget_link ul li {
    margin-bottom: 5px;
}
.deneb_footer .widget_wrapper .widget_link ul li a {
    text-transform: capitalize;
    color: #7a808d;
}
.deneb_footer .widget_wrapper .widget_link ul li a:focus {
    color: #feb000;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .icon {
    font-size: 12px;
    color: #feb000;
    margin-right: 10px;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p a {
    color: #7a808d;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p span {
    display: block;
}

.deneb_footer .copyright_area {
    background: #edecf0;
    padding: 10px 0;
}
.deneb_footer .copyright_area .copyright_text {
    text-align: center;
}
.deneb_footer .copyright_area .copyright_text p {
    color: #011a3e;
}
.deneb_footer .copyright_area .copyright_text p span {
    color: #feb000;
}

.deneb_cta .cta_wrapper:after {
    content: "";
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.deneb_cta .cta_wrapper .cta_content h3 {
    color: #fff;
    font-weight: bold;
}
@media (max-width: 767px) {
    .deneb_cta .cta_wrapper .cta_content h3 {
        font-size: 24px;
    }
}
.deneb_cta .cta_wrapper .cta_content h3:after {
    content: "";
    display: block;
    max-width: 110px;
    height: 2px;
    margin-top: 13px;
    margin-bottom: 24px;
}
.deneb_cta .cta_wrapper .cta_content p {
    color: #fff;
}
.deneb_cta .cta_wrapper .button_box {
    float: right;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .deneb_cta .cta_wrapper .button_box {
        float: none;
        text-align: left;
        margin-top: 30px;
    }
}
@media (max-width: 767px) {
    .deneb_cta .cta_wrapper .button_box {
        float: none;
        text-align: center;
        margin-top: 30px;
    }
}
.deneb_cta .cta_wrapper .button_box .deneb_btn {
    background: #fff;
    color: #011a3e;
}
.deneb_cta .cta_wrapper .button_box .deneb_btn:focus {
    box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
}


/*
* BLOG INDEX
*/

h1.h1-blog-index {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
    margin-top: 70px;
    font-family: 'Poppins';
}

img.img-blog {
    margin-bottom: 30px;
}

h5.card-title {
    font-weight: 700;
}

h1.h1-article-show {
    font-weight: 700;
}

.card.card-blog-index {
    margin: 50px;
    padding: 10px;
    width: 90rem!important;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 3px 10px #d8d8d8;
}

.nav-link-blog-index{
    background-color: #A2A2E0;
    margin: 10px;
    border-radius: 20px;
    color: white;
    padding: 8px;
}

.nav-link-blog-index:hover{
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    color: #A2A2E0;
    padding: 8px;
}

.card-text-category {
    background-color: #A2A2E0;
    padding: 5px;
    margin-bottom: 30px;
    color: white;
    box-shadow: 3px 3px 6px 0px #c3c3c3;
    border-radius: 10px;
    width: 10rem;
    margin-left: auto;
    text-align: center;
}

/*
* ARTICLE DE BLOG
*/

.card-article {
    margin: 50px;
    padding: 20px;
    box-shadow: 2px 3px 14px 0px #dedede;
}

.nav-link-article {
    background-color: #A2A2E0;
    margin: 10px;
    border-radius: 20px;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.nav-link-article:hover {
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    color: #A2A2E0;
    padding: 8px;
    display: flex;
    justify-content: center;
    margin-right: auto;
}


